.posts-container {
  padding-left: 1.5rem;
  color: $WHITE-COLOR;
  height: 100vh;

  display: flex;

  &__inner-poster {
    border-right: 0.1px solid #1f1f1f;
    width: 25%;
    padding-right: 1.5rem;
    overflow: auto;
    margin-top: 4rem;

    &__inner {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 1.5rem;
      transition: all 700ms ease-in-out;

      &:hover {
        background-color: #1f1f1f;
        margin-left: 0.75rem;
        border-radius: 12px;
        cursor: pointer;
      }
    }
  }

  &__inner-posts {
    width: 75%;
    overflow: auto;
    margin-top: 3.4rem;

    &-m {
      padding: .6rem 1.5rem;
      background-color: #2a2a2a;
    }

    form {
      input {
        outline: none;
      }
    }
  }

  &__header {
    &-head {
      font-size: 1.5rem;
    }
    p {
      opacity: 0.3;
      margin-top: 3px;
    }
  }
}
