.settings-container {
  @include padding-top-left-color;

  display: flex;
  flex-wrap: wrap;
  height: 100vh;

  &__aside {
    border-right: .3px solid #2f2f2f;
    padding-right: 1rem;
    width: 25%;
  }

  &__main {
   width: 75%;
  }

  &__user-setting {
    $SIZE: 60px;
    height: $SIZE;
    width: $SIZE;
    max-width: $SIZE;
    border-radius: 100%;
    margin: 1rem 0;

    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 2rem;
    }
  }
}
