.custom-marker {
  background-color: $PRIMARY-COLOR;

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: $PRIMARY-COLOR;
    border-radius: 100%;
    z-index: 999;
  }
}
