.marker-user {
  $SIZE: 20px;
  position: absolute;
  width: $SIZE;
  height: $SIZE;
  // border-radius: 50%;
  background-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
}

.marker-driver {
  $SIZE: 20px;
  position: absolute;
  width: $SIZE;
  height: $SIZE;
  // border-radius: 50%;
  background-color: $PRIMARY-COLOR;
  box-shadow: 0 0 6px rgba(189, 182, 0, 0.5);
}
