.marker-user {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
}

.marker-driver {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $PRIMARY-COLOR;
  box-shadow: 0 0 6px rgba(189, 182, 0, 0.5);
}
