.signup-container {
  position: relative;
  width: 100%;
  height: 100dvh;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221000%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1000H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%231B0036%22 d=%22M0 0h2000v1000H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%235a476e%22 stroke-width=%222%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M0 0h100v100H0z%22%2F%3E%3Cpath fill=%22%235a476e95%22 d=%22M100 0h100v100H100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M200 0h100v100H200z%22%2F%3E%3Cpath fill=%22%235a476e1f%22 d=%22M300 0h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 0h100v100H400z%22%2F%3E%3Cpath fill=%22%235a476e75%22 d=%22M500 0h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M600 0h100v100H600z%22%2F%3E%3Cpath fill=%22%235a476e16%22 d=%22M700 0h100v100H700z%22%2F%3E%3Cpath fill=%22%235a476e2d%22 d=%22M800 0h100v100H800z%22%2F%3E%3Cpath fill=%22%235a476ea4%22 d=%22M900 0h100v100H900z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1000 0h100v100h-100zM1100 0h100v100h-100zM1200 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e27%22 d=%22M1300 0h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1400 0h100v100h-100zM1500 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476eb0%22 d=%22M1600 0h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1700 0h100v100h-100zM1800 0h100v100h-100zM1900 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e37%22 d=%22M0 100h100v100H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M100 100h100v100H100zM200 100h100v100H200zM300 100h100v100H300z%22%2F%3E%3Cpath fill=%22%235a476eda%22 d=%22M400 100h100v100H400z%22%2F%3E%3Cpath fill=%22%235a476ee2%22 d=%22M500 100h100v100H500z%22%2F%3E%3Cpath fill=%22%235a476e1a%22 d=%22M600 100h100v100H600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M700 100h100v100H700zM800 100h100v100H800zM900 100h100v100H900z%22%2F%3E%3Cpath fill=%22%235a476e8c%22 d=%22M1000 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1100 100h100v100h-100zM1200 100h100v100h-100zM1300 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476eaa%22 d=%22M1400 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 100h100v100h-100zM1600 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e0b%22 d=%22M1700 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 100h100v100h-100zM1900 100h100v100h-100zM0 200h100v100H0zM100 200h100v100H100zM200 200h100v100H200zM300 200h100v100H300zM400 200h100v100H400zM500 200h100v100H500zM600 200h100v100H600zM700 200h100v100H700zM800 200h100v100H800zM900 200h100v100H900zM1000 200h100v100h-100zM1100 200h100v100h-100zM1200 200h100v100h-100zM1300 200h100v100h-100zM1400 200h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e38%22 d=%22M1500 200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 200h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e76%22 d=%22M1700 200h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e62%22 d=%22M1800 200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 200h100v100h-100zM0 300h100v100H0zM100 300h100v100H100z%22%2F%3E%3Cpath fill=%22%235a476e37%22 d=%22M200 300h100v100H200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M300 300h100v100H300zM400 300h100v100H400zM500 300h100v100H500z%22%2F%3E%3Cpath fill=%22%235a476e4c%22 d=%22M600 300h100v100H600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M700 300h100v100H700zM800 300h100v100H800zM900 300h100v100H900zM1000 300h100v100h-100zM1100 300h100v100h-100zM1200 300h100v100h-100zM1300 300h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e05%22 d=%22M1400 300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 300h100v100h-100zM1600 300h100v100h-100zM1700 300h100v100h-100zM1800 300h100v100h-100zM1900 300h100v100h-100zM0 400h100v100H0zM100 400h100v100H100zM200 400h100v100H200zM300 400h100v100H300zM400 400h100v100H400zM500 400h100v100H500zM600 400h100v100H600zM700 400h100v100H700zM800 400h100v100H800z%22%2F%3E%3Cpath fill=%22%235a476e5f%22 d=%22M900 400h100v100H900z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1000 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e2d%22 d=%22M1100 400h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 400h100v100h-100zM1300 400h100v100h-100zM1400 400h100v100h-100zM1500 400h100v100h-100zM1600 400h100v100h-100zM1700 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e63%22 d=%22M1800 400h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 400h100v100h-100zM0 500h100v100H0zM100 500h100v100H100zM200 500h100v100H200zM300 500h100v100H300zM400 500h100v100H400z%22%2F%3E%3Cpath fill=%22%235a476e1a%22 d=%22M500 500h100v100H500z%22%2F%3E%3Cpath fill=%22%235a476e8b%22 d=%22M600 500h100v100H600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M700 500h100v100H700z%22%2F%3E%3Cpath fill=%22%235a476ee6%22 d=%22M800 500h100v100H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 500h100v100H900z%22%2F%3E%3Cpath fill=%22%235a476e8d%22 d=%22M1000 500h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1100 500h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e46%22 d=%22M1200 500h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1300 500h100v100h-100zM1400 500h100v100h-100zM1500 500h100v100h-100zM1600 500h100v100h-100zM1700 500h100v100h-100zM1800 500h100v100h-100zM1900 500h100v100h-100zM0 600h100v100H0zM100 600h100v100H100z%22%2F%3E%3Cpath fill=%22%235a476ee3%22 d=%22M200 600h100v100H200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M300 600h100v100H300zM400 600h100v100H400zM500 600h100v100H500zM600 600h100v100H600z%22%2F%3E%3Cpath fill=%22%235a476e77%22 d=%22M700 600h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 600h100v100H800zM900 600h100v100H900zM1000 600h100v100h-100zM1100 600h100v100h-100zM1200 600h100v100h-100zM1300 600h100v100h-100zM1400 600h100v100h-100zM1500 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e4f%22 d=%22M1600 600h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1700 600h100v100h-100zM1800 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e61%22 d=%22M1900 600h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 700h100v100H0z%22%2F%3E%3Cpath fill=%22%235a476ebf%22 d=%22M100 700h100v100H100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M200 700h100v100H200zM300 700h100v100H300zM400 700h100v100H400z%22%2F%3E%3Cpath fill=%22%235a476ecf%22 d=%22M500 700h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M600 700h100v100H600zM700 700h100v100H700zM800 700h100v100H800z%22%2F%3E%3Cpath fill=%22%235a476e1c%22 d=%22M900 700h100v100H900z%22%2F%3E%3Cpath fill=%22%235a476e75%22 d=%22M1000 700h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1100 700h100v100h-100zM1200 700h100v100h-100zM1300 700h100v100h-100zM1400 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476ee3%22 d=%22M1500 700h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 700h100v100h-100zM1700 700h100v100h-100zM1800 700h100v100h-100zM1900 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e6f%22 d=%22M0 800h100v100H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M100 800h100v100H100zM200 800h100v100H200z%22%2F%3E%3Cpath fill=%22%235a476e87%22 d=%22M300 800h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 800h100v100H400zM500 800h100v100H500zM600 800h100v100H600zM700 800h100v100H700z%22%2F%3E%3Cpath fill=%22%235a476e06%22 d=%22M800 800h100v100H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 800h100v100H900z%22%2F%3E%3Cpath fill=%22%235a476e07%22 d=%22M1000 800h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e60%22 d=%22M1100 800h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e58%22 d=%22M1200 800h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1300 800h100v100h-100zM1400 800h100v100h-100zM1500 800h100v100h-100zM1600 800h100v100h-100zM1700 800h100v100h-100zM1800 800h100v100h-100zM1900 800h100v100h-100zM0 900h100v100H0zM100 900h100v100H100z%22%2F%3E%3Cpath fill=%22%235a476e2f%22 d=%22M200 900h100v100H200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M300 900h100v100H300z%22%2F%3E%3Cpath fill=%22%235a476e11%22 d=%22M400 900h100v100H400z%22%2F%3E%3Cpath fill=%22%235a476e87%22 d=%22M500 900h100v100H500z%22%2F%3E%3Cpath fill=%22%235a476e49%22 d=%22M600 900h100v100H600z%22%2F%3E%3Cpath fill=%22%235a476e52%22 d=%22M700 900h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 900h100v100H800z%22%2F%3E%3Cpath fill=%22%235a476ede%22 d=%22M900 900h100v100H900z%22%2F%3E%3Cpath fill=%22%235a476e94%22 d=%22M1000 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e8a%22 d=%22M1100 900h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 900h100v100h-100zM1300 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e77%22 d=%22M1400 900h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 900h100v100h-100zM1600 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%235a476e60%22 d=%22M1700 900h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 900h100v100h-100zM1900 900h100v100h-100z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");

  color: $WHITE-COLOR;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  .div {
    border-radius: 10px;
  }

  form {
    width: 30rem;
    position: relative;
    z-index: 99999;
  }

  .div,
  form {
    background-color: $WHITE-COLOR;
    color: $GRAY-COLOR;
    display: flex;

    .signup-container__top {
      padding: 1.5rem 2rem;
      display: flex;
      flex-grow: 1;
      flex-direction: column;

      &-header {
        font-size: 2.3rem;
        font-weight: 800;
      }
    }
    .signup-container__bottom {
      background-color: $PRIMARY-COLOR;
      color: $WHITE-COLOR;

      padding: 0.7rem;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        transform: rotate(90deg);
        font-weight: 800;
        font-size: 2.8rem;
      }
    }
  }
}

.submit-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 11px 16px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
  border-radius: 5px;

  i {
    margin-right: 10px;
    font-size: 17px;
  }
}

@media screen and (max-width: 800px) {
  .signup-container {
    padding: 0 0.5rem;
  }
  .signup-container__bottom {
    display: none !important;
  }
}
