@mixin after-element {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 5%;
  height: 0.4rem;
  background-color: $PRIMARY-COLOR;
  border-radius: 50px;
}

@mixin padding-top-left-color {
  padding-top: $PADDING-TOP-NAV-M;
  padding-left: 1.5rem;
  color: $WHITE-COLOR;
}