$PRIMARY-FONT-LATO: "Lato", sans-serif;
$SECONDARY-FONT-POPPINS: "Poppins", sans-serif;
$PRIMARY-COLOR: #a16207;
$SECONDARY-COLOR: #141414;
$WHITE-COLOR: #fff;
$GRAY-COLOR: #333;
$BLACK-COLOR: #161616;
$BACKGROUNG-PRIMARY: linear-gradient(
  to right top,
  #051937,
  #0d152b,
  #0f1020,
  #0c0b15,
  #161616
);
